<div ng-controller="DashboardProduceInProcess">
    <div class="panel panel-default">
        <div class="panel-heading widget-header-flat">
            <h3 class="panel-title">
                <i class="fa fa-cog"></i>
                <a ng-click="$root.goPage('produce/list/producePlan')" ng-bind="'lang.widgetTitles.produceInProcess'|lang"></a>
            </h3>
        </div>

        <table class="table table-striped">
            <thead class="thin-border-bottom">
                <tr>
                    <th>
                        <span ng-bind="'lang.plan_id'|lang"></span>
                    </th>

                    <th>
                        <span ng-bind="'lang.goods_name'|lang"></span>
                    </th>
                    <th class="hidden-480">
                        <span ng-bind="'lang.num'|lang"></span>
                    </th>
                    <th class="hidden-480">
                        <span ng-bind="'lang.end_time'|lang"></span>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in items">
                    <td>
                        <a ng-click="$root.goPage('produce/editBill/producePlan/id/'+item.plan_id)">{{item.plan_id|idFormat}}</a>
                    </td>
                    <td ng-bind="item.goods_name"></td>
                    <td ng-bind="item.num"></td>
                    <td ng-bind="item.plan_end_time|dateFormat">

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>